body {
  font-family: Arial, sans-serif;
  background-color: #skyblue;
  margin: 1;
  padding: 1;
}

header {
  background-color: #skyblue;
  color: skyblue;
  padding: 1em 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2em;
}

footer {
  background-color: #skyblue;
  color: skyblue;
  text-align: center;
  padding: 1em;
}

